<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTFORM</title>
</head>

<body>
    <div class="container">
        <h1 class="display-3">Login Form</h1>
        <!-- name is important property -->
        <form >
            <div class="container">

                <a href="/auth/logout" id="btn" type="submit">Logout</a>
                
                <a href="/auth/login" id="btn" type="submit">Login</a>
                
                <a  href="/" id="btn" type="submit">Home</a>
            </div>
         <h1>You are on home page</h1>
        </form>

    </div>

</body>

</html>