<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTFORM</title>
</head>

<body>
    <div class="container">
   
        <!-- name is important property -->
        <form >
            <div class="container">

                <a href="/auth/logout" id="btn" type="submit">Logout</a>
                
                <a  href="/auth/login" id="btn" type="submit">Login</a>
                
                <a  href="/"id="btn" type="submit">Home</a>

                <div>
                    <a href="/auth/google" href="" id="btn" type="submit">Google</a>
                </div>
            </div>

        </form>

    </div>

</body>

</html>